<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <title>Orchelium | About</title>

  <%- include('./partials/_head'); %>
  <%- include('./partials/_scripts'); %>

  <script>
  $(document).ready(function(){
    $('select').formSelect();
  });


  function doNotify(status,msg)
  {
      $.pnotify({
      title: 'Orchelium Job',
      text: msg,
      type: status,
      history: false,
      styling: 'jqueryui'
      });
  }
 
  </script>
  <style>
    span.strapline {
    font-size: 5pt;
    position: relative;
    top: -30px;
    left: 30px;
  }
  </style>
  </head>
<body onload="checkScroll()">
  <%- include('./partials/_header'); %>
  
  <div class="section no-pad-bot" id="index-banner">
    <div class="container fillWidth">

      <h5 class="header orange-text">About</h5>
      
      <div class="col s5">
        

        <!--<div class="card horizontal">
          
          <div class="card-stacked" style="max-width: 100%;">
            <div class="card-content">
              <span class="card-title">-->

                <span class="imgframe"><img src="/images/orchelium-light.png" style="width:210px;"><br>
                <span class="strapline">Distributed automatiobn for real-world systems</span>
                <br>
                <a href="http://www.orchelium.com">http://www.orchelium.com</a>
                <h6>Version: <%=version%></h6>
                
                <p>Created by:<br/>
                  <a href="https://pembo.co.uk"><img style="width:120px" src="/images/pembo-small.png"/></a><br/>
                
                  <a href="https://github.com/dpembo/orchelium/blob/main/LICENSE">License</a> / 
                  <a href="https://github.com/dpembo/orchelium">Source</a>
                </p>
                </span>  
              <!--</span>
            </div>
          </div>
        </div>-->
      </div>
    </div>      
  </div>
  
  <%- include('./partials/_footer'); %>


  </body>
</html>

