<%  
agentOnline=0;
agentOffline=0;
agentRunning=0;
agentUnknown=0;
for (const [key, value] of Object.entries(agents.getDict())) {
    if(value.status=="online")agentOnline++;
    if(value.status=="offline")agentOffline++;
    if(value.status=="running")agentRunning++;
    if(value.status=="unknown")agentUnknown++;
}

function outputArray(inArray)
{
  var str="";
  for(var i=0;i<inArray.length;i++){
    str+= '"';
    str+= inArray[i] ;
    str+= '"';
    if(i!=inArray.length-1)str+=",";
  }
  return str;
}
%>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>BackupHub</title>

  <%- include('./partials/_head'); %>

  
</head>

<body class="surface">
  <%- include('./partials/_header'); %>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="section">

        <!--   Icon Section   -->

        <div class="row">
          <div class="col s12">
            <h5>Welcome <%=username%></h5>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <div class="card elevation1"><a href="history.html">
              <div class="card-content">
                <span class="card-title">Job Status</span>
                <!-- Add a canvas element for the chart -->
                <canvas id="donutChart"></canvas>
              </div></a>
            </div>
          </div>
          <div class="col s4">
            <div class="card elevation1"><a href="history.html">
              <div class="card-content">
                <span class="card-title">Executions</span>
                <canvas id="lineGraph"></canvas>
              </div></a>
            </div>
          </div>
          <div class="col s4">
            <div class="card elevation1"><a href="history.html">
              <div class="card-content">
                <span class="card-title">Runtime (secs)</span>
                <canvas id="areaChart"></canvas>
              </div></a>
            </div>
          </div>
        <!--</div>
        <div class="row" >-->

          <div class="col s6 offset-s4" style="display:block;position:relative;margin-top:-180px;" >
            <div class="card elevation1" style="height:157px"><a href="/agentstatus.html">
              <div class="card-content">
                <span class="card-title">Agents</span>
                <% 
                  var offlineClass="offlinecnt"; 
                  var runningClass="runningcnt";
                  var onlineClass="onlinecnt";
                  if(agentOffline==0)offlineClass="unknowncnt";
                  if(agentOnline==0)onlineClass="offlinecnt";
                  if(agentRunning==0)runningClass="unknowncnt";
                %>
                <div class="onlinediv"><span class="dashtitle">Online</span><span class="<%=onlineClass%>"><%=agentOnline%></span></div>
                <div class="offlinediv"><span class="dashtitle">Offline</span><span class="<%=offlineClass%>"><%=agentOffline%></span></div>
                <div class="runningdiv"><span class="dashtitle">Running</span><span class="<%=runningClass%>"><%=agentRunning%></span></div>
                <div class="unknowndiv"><span class="dashtitle">Unknown</span><span class="unknowncnt"><%=agentUnknown%></span></div>
              </div></a>
            </div>
          </div>
          
          <div class="col s2 offset-s10" style="display:block;position:relative;margin-top:-200px;">
            <div class="card elevation1" >
              <div class="card-content">
                <span class="card-title">Day Schedule</span>
                <% var color = "unknowncnt";
                var jrunSuccess = (parseInt(todayJobsRun.scheduledCount));
                var jrunFail = (parseInt(todayJobsRun.scheduledFail));
                var jobs = (parseInt(todayJobs));
                if((jrunSuccess+jrunFail) < jobs)color="offlinecnt";
                if((jrunSuccess+jrunFail) == jobs)color="onlinecnt";
                if((jrunSuccess+jrunFail) > jobs)color="unknowncnt";
                %>
                <a href="/history.html">
                  <div class="onlinecnt" style="margin-top: -10px;font-size:10pt;">Success</div>
                  <div class="onlinecnt" style="font-size:24pt;margin-top: -15px;margin-left: 10px;"><%=jrunSuccess%></div>
                
                  <div class="offlinecnt" style="margin-top: -11px;margin-left: 7px;font-size:10pt;">Fail</div>
                <div class="offlinecnt" style="font-size:24pt;margin-top: -15px;margin-left:10px;"><%=jrunFail%></div>
                
                <div class="unknowncnt" style="font-size:36pt;margin-top: -90px;margin-left: 50px;"> of </div>
                <div class="<%=color%>" style="font-size:36pt;margin-top: -70px;margin-left: 110px;"><%=todayJobs%></div></a>
                
              </div>
            </div>
          </div>

        </div>
        <!-- Add Chart.js script -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            // Get the canvas element
            var ctx = document.getElementById('donutChart').getContext('2d');

            // Create the donut chart
            var donutChart = new Chart(ctx, {
              type: 'doughnut',
              data: {
                labels: ['Success', 'Failure', 'Running'],
                datasets: [{
                  data: [<%=successCount %>, <%=failCount %>, <%=runningCount %>],
                  backgroundColor: ['#63ade9', '#CF6679', '#ff9800'],
                  borderColor: 'transparent',
                  borderWidth: 1
                }]
              },
              options: {
                backgroundColor: 'transparent',
                responsive: true,
                cutout: '75%', // Adjust the cutout to control the donut shape
                plugins: {
                  legend: {
                    display: true,
                    position: 'bottom'
                  }
                },
              }
            });

            ctx = document.getElementById('lineGraph').getContext('2d');

            // Create the line graph
            var lineGraph = new Chart(ctx, {
              type: 'line',
              data: {
                //[<%-outputArray(chartData.labels)%>]
                labels: [<%-outputArray(chartData.labels)%>],
                datasets: [
                  {
                    label: 'Success',
                    data: [<%=chartData.success%>],
                    borderColor: '#63ade9',
                    fill: false
                  },
                  {
                    label: 'Fail',
                    data: [<%=chartData.fail%>],
                    borderColor: '#CF6679',
                    fill: false
                  }
                ]
              },
              options: {
                responsive: true,
                plugins: {
                  legend: {
                    display: true,
                    position: 'bottom'
                  }
                }
              }
            });

            ctx = document.getElementById('areaChart').getContext('2d');
      var areaChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [<%-outputArray(chartData.labels)%>],
          datasets: [
            {
              label: 'Runtime',
              data: [<%=chartData.runtime%>],
              borderColor: '#36a2eb',
              backgroundColor: 'rgba(54, 162, 235, 0.2)',
              fill: true
            }
          ]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              display: true,
              position: 'bottom'
            }
          }
        }
      });
          });
        </script>


    </div>
    </div>
    </div>

    <%- include('./partials/_footer'); %>

    <%- include('./partials/_scripts'); %>
</body>

</html>