  <script>

  function doNotify(status,msg)
  {
      $.pnotify({
      title: 'Backup Job',
      text: msg,
      type: status,
      history: false,
      styling: 'jqueryui'
      });
  }

  //Generate the dialogs 
<% for(i = 0; i < config.length; i++) {%>

    $(function() {
       $( "#dialog<%=i%>" ).dialog({
          autoOpen: false,
          height: 600,
          width: 1000     
       });
       $( "#opener<%=i%>" ).click(function() {
          $( "#dialog<%=i%>" ).dialog( "open" );
       });
    });

    
<%}%>

    function getUrlParam(name){
      if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
        return decodeURIComponent(name[1]);
    }

    function doSort(id)
    {
      var currSort = getUrlParam("sort");
      var order = getUrlParam("order");

      if(order===undefined)order="1";
      if(currSort===undefined)currSort="id";

      //alert("sorting for [" + id + "]");
      //alert("Current sort: " + currSort);
      //alert("order: " +order);

      if(currSort==id)
      {
        //leave as the same, but toggle direction
        if(order=="1")order="-1";
        else(order="1");
      }
      else
      {
        order="1";
      }

      document.location.href="logs.html?sort=" + id + "&order=" + order;
    }


    function abortJobCall(joblog,jobName,eta){
      alert("Not implemented yet");
      return;
      
      var len = joblog.length;
      len = len -4;
      newjoblog = joblog.substr(0,len);

      //var xhttp1 = new XMLHttpRequest();
      //xhttp1.open("GET", "/rest/eta?eta=" + eta , false);
      //xhttp1.send(null);

      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "http://192.168.1.24:1880/backup-abort?dest=" + newjoblog, false);
      xhttp.send(null);

      if (xhttp.status === 200) {
        var obj = JSON.parse(xhttp.responseText);
        if(obj.status=="Job Started")
        {
          doNotify("success","Job [" + jobName + "] Successfully Queued - Please wait for this to start" );
        }
        else
        {
          doNotify("error","Job [" + jobName + "] Not Queued - another job [" + obj.job + "] is already queued" );
        }
      }
    };
    function invokeJobCall(joblog,jobName,eta) {
      var len = joblog.length;
      len = len -4;
      newjoblog = joblog.substr(0,len);

      //var xhttp1 = new XMLHttpRequest();
      //xhttp1.open("GET", "/rest/eta?eta=" + eta , false);
      //xhttp1.send(null);

      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "http://192.168.1.24:1880/backup-init?dest=" + newjoblog, false);
      xhttp.send(null);

      if (xhttp.status === 200) {
        var obj = JSON.parse(xhttp.responseText);
        if(obj.status=="Job Started")
        {
          doNotify("success","Job [" + jobName + "] Successfully Queued - Please wait for this to start" );
        }
        else
        {
          doNotify("error","Job [" + jobName + "] Not Queued - another job [" + obj.job + "] is already queued" );
        }
      }
    };

    function refresh()
    {
      time = document.getElementById("refreshval").value;
      var currSort = getUrlParam("sort");
      var order = getUrlParam("order");

      if(order===undefined)order="1";
      if(currSort===undefined)currSort="id";

      document.location.href="/logs.html?refresh=" + time + "&sort=" + currSort + "&order=" + order;
        
    }
    
    
  
  </script>
  <main>
      <div class="logstable">
      <table>
        <tr>
          <th><a class="black-text" href="#" onclick="doSort('id')"/>#<%if(sort=="id"){ if(order=="1"){%><span title="Ascending" class="material-icons">arrow_drop_up</span><%}else{%><span title="Descending" class="material-icons">arrow_drop_down</span><%} }%></a></th>
          <th><a class="black-text" href="#" onclick="doSort('type')"/>Type<%if(sort=="type"){ if(order=="1"){%><span title="Ascending" class="material-icons">arrow_drop_up</span><%}else{%><span title="Descending" class="material-icons">arrow_drop_down</span><%} }%></a></th>
          <th><a class="black-text" href="#" onclick="doSort('name')"/>Name<%if(sort=="name"){ if(order=="1"){%><span title="Ascending" class="material-icons">arrow_drop_up</span><%}else{%><span title="Descending" class="material-icons">arrow_drop_down</span><%} }%></a></th>
          <th><a class="black-text" href="#" onclick="doSort('nextrun')"/>Next Run Date<%if(sort=="nextrun"){ if(order=="1"){%><span title="Ascending" class="material-icons">arrow_drop_up</span><%}else{%><span title="Descending" class="material-icons">arrow_drop_down</span><%} }%></a></th>
          <th><a class="black-text" href="#" onclick="doSort('lastrun')"/>Last Run Date<%if(sort=="lastrun"){ if(order=="1"){%><span title="Ascending" class="material-icons">arrow_drop_up</span><%}else{%><span title="Descending" class="material-icons">arrow_drop_down</span><%} }%></a></th>
          <th><a class="black-text"href="#" onclick="doSort('runtimesecs')"/>Run Time<%if(sort=="runtimesecs"){ if(order=="1"){%><span title="Ascending" class="material-icons">arrow_drop_up</span><%}else{%><span title="Descending" class="material-icons">arrow_drop_down</span><%} }%></a></th>
          <th><a class="black-text" href="#" onclick="doSort('status')"/>Status<%if(sort=="status"){ if(order=="1"){%><span title="Ascending" class="material-icons">arrow_drop_up</span><%}else{%><span title="Descending" class="material-icons">arrow_drop_down</span><%} }%></a></th>
          <th>Actions</th>
        </tr>
        <% for(i = 0; i < config.length; i++) {%>
          <tr>
            <td><%=parseInt(config[i].id) %></td>
            <td>
              <% switch (config[i].type)
              {
                //Success
                case "vm":%>
                  <span title="ProxMox Virtual Machine" class="mdi mdi-server" style="font-size:24pt;position:relative;left:-5px;"></span>
                  <%
                  break;
                case "shell":
                  %>
                  <span title="File System" class="mdi mdi-content-save" style="font-size:24pt;position:relative;left:-5px;"></span>
                  <%
                  break;
                case "nas":%>
                  <span title="NAS Share" class="mdi mdi-nas" style="font-size:24pt;position:relative;left:-5px;"></span>
                  <%
                  break;
                case "db":%>
                  <span title="Database" class="mdi mdi-database" style="font-size:24pt;position:relative;left:-5px;"></span>
                  <%
                  break;
                default:
                  %>
                  <span title="Unknown" class="material-icons">question_mark</span>
                  <%
                  break;
              }
              %> 
            </td>

            <td><%=config[i].name%></td>
            <!-- NEXT  RUN-->
            <td <% if(config[i].status==-9999){%>class="blinking orange-text"<%}%><% if(config[i].status==-1){%>class="tableIconButtonDisabled"<%}%>>
              <% if(config[i].status==-9999){%>Running Now<%} else {%>
                <%=config[i].nextrun%>
              <% }%>
            </td>
            <!-- LAST RUN-->
            <td <% if(config[i].status==-9999){%>class="blinking orange-text"<%}%><% if(config[i].status==-1){%>class="tableIconButtonDisabled"<%}%>>
              <%=config[i].lastrun%>
            </td>
            
            <!-- Runtime -->
            <td>
              <%if(config[i].status==-9999){%>
                <div style="background-color: #cccccc;width:240px">
                  <div style="color:#000000;background-color:orange;height:24px;width:<%=config[i].percent%>%"><span style="width:239px; display: block;float:left">&nbsp;<%=config[i].runtime;%></span></div>
                </div>
                
              <%} else {%>
                <div style="background-color: #ffffff;width:240px">
                  <div style="color:#000000;background-color:orange;height:24px;width:<%=config[i].percent%>%"><span style="width:239px; display: block;float:left">&nbsp;<%=config[i].runtime;%></span></div>
                </div>
                
              <%}%>
              
            </td>
            

            <!-- Status Icon -->
            <td>
              <% config[i].status = parseInt(config[i].status) %> 
              <a id="opener<%=i%>" href="#">
              <%
              switch (parseInt(config[i].status))
              {
                //Success
                case 0:
                  %>
                  <span title="<%=config[i].detail%>" class="green-text material-icons">check_circle</span>
                  <%
                  break;

                  //Success
                  case 23:
                    %>
                    <span title="<%=config[i].detail%>" class="orange-text material-icons">flag_circle</span>
                    <%
                    break;
  

                //In progress
                case -9999:
                  %>
                  
                  <span title="<%=config[i].detail%>" class="blinking orange-text material-icons">pending</span>
                  <%
                  break;

                //Never Run
                case -1:
                  %>
                  <span title="<%=config[i].detail%>" class="tableIconButtonDisabled material-icons">flag_circle</span>
                  <%
                  break;

                //Error
                default:
                  %>
                  <span title="<%=config[i].detail%>" class="red-text material-icons">flag_circle</span>

                  
                  <%
                  break;
              }
              %>
            </a>
              <div id="dialog<%=i%>" title="Status Detail">
                <pre><%=config[i].detail%></pre>
              </div>
            </td>

                        
            <!-- ACTIONS -->
            <td>
              <a target="_blank" href="/logs/backup_<%=config[i].log%>" title="View Logs" id="viewLogs"><i class="tableIconButton material-icons">reorder</i></a>
              <% if(config[i].status==-9999){%>             
                <a href="#" onclick="abortJobCall('<%=config[i].log%>','<%=config[i].name%>','<%=config[i].runtime%>');" title="Abort Job" id="viewLogs"><i class="tableIconButtonDisabled material-icons">block</i></a>

              <% } else { %>
                <a href="#" onclick="invokeJobCall('<%=config[i].log%>','<%=config[i].name%>','<%=config[i].runtime%>');" title="Start Job" id="viewLogs"><i class="tableIconButton material-icons">play_circle</i></a>
              <%}%>
            </td>
            
          </tr>
        <%}%>
      </table>

    </div>
  </div>

  </main>
