<%
function escapeShell(inData){
  return base64Encode(inData);
}

// Base64 Encode a String
function base64Encode(str) {
  return Buffer.from(str).toString('base64');
}

// Base64 Decode a String
function base64Decode(base64Str) {
  return Buffer.from(base64Str, 'base64').toString('utf-8');
}


function sanitizeVariableName(name) {
  // 1. Remove any characters that are not letters, numbers, $, or _
  // 2. Replace spaces or hyphens with underscores
  // 3. Ensure the name doesn't start with a number by prepending an underscore if necessary

  let sanitized = name
    .replace(/[^a-zA-Z0-9_$]/g, '_')  // Replace any invalid character with _
    .replace(/^[0-9]/, '_$&');        // If starts with a number, prepend an underscore

  // Optionally: Remove leading and trailing underscores
  sanitized = sanitized.replace(/^_+|_+$/g, '');
  return sanitized;
}

function displaySecs(secs) {
  
  var ret;

  //Secs
  if (secs < 300) ret = secs + " secs";

  if (secs >= 300 && secs < 7200) {
    //Mins
    var mins = Math.floor(secs / 60);
    secs = secs % 60;

    ret = mins + " mins ";

  }
  if (secs >= 7200 && secs < 86400) {
    //hours
    var mins = Math.floor(secs / 60);
    var secs = secs % 60;
    var hours = Math.floor(mins / 60);
    mins = mins % 60;
    ret = hours + "h " + mins + " mins";
  }

  if (secs >= 86400) {
    var mins = Math.floor(secs / 60);
    var secs = secs % 60;
    var hours = Math.floor(mins / 60);
    var days = Math.floor(hours / 24);
    hours = hours - (days * 24);
    //hours = days %24;
    mins = mins % 60;
    ret = days + " days " + hours + "h ";

  }

  return ret;
}

 %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <title>BackupHub | Script Editor</title>

  <%- include('./partials/_head'); %>
  <%- include('./partials/_scripts'); %>
  
  <script>
  var editor;
  var overviewText=`#start-params
#<b>SAMPLE DESCRIPTION</b>
#<br/><br/><b>Parameters</b><br/>
#<b>#1</b> - Param1<br/>
#<b>#2</b> - Param2<br/>
#end-params`;

var onScript = "";

// Base64 Decode in the browser
function base64Decode(base64Str) {
  return decodeURIComponent(escape(atob(base64Str)));
}


// Template
<% if (templates && templates.getTemplateNames().length > 0) { %><% templates.getTemplateNames().forEach(function(script) { %><% var dispscript = script.split(".")[0]%>var <%=sanitizeVariableName(dispscript + "_Content")%>_Content=`<%- escapeShell(templates.getTemplateByName(script).content)%>`;<%});%><%}%>
        

function deSelectAllFiles(){
  //Remove css from selection
  var fileSelectors = document.querySelectorAll('div.fileselector');

  // Iterate through the NodeList of fileSelectors
  fileSelectors.forEach(function(div, index) {
      //console.log('Div', index, 'Content:', div.innerHTML);
      div.style.backgroundColor="";
  });
}





function scriptSelected(element,inScript,inDescription){
  //alert("inscript [" + inScript + "]");
  onScript = inScript;
  //Remove css from selection
  deSelectAllFiles();

  if (window.getSelection) {window.getSelection().removeAllRanges();}
  else if (document.selection) {document.selection.empty();}
  if(inScript==""){
    editor.setValue("#/bin/sh\n" + overviewText + "\n\n#Implement your shell script here");
    //var desc = extractHTMLParams(data);
    window.scrollTo(0, 0);
    document.getElementById('scriptInfoDetail').innerHTML="";
    return;
  }
  else{
    var url = "/rest/script/" + inScript + "?mode=raw"; 
    fetchApiData(url)
    .then(data => {
      // Handle the API data as a string here
      //console.log(data);
      //alert(data);
      editor.setValue(data);
      //var desc = extractHTMLParams(data);
      var metaData = extractScriptMetadata(data);
      //document.getElementById('scriptParameters').innerHTML=metaData.data.metaParameters.replace(/\n/g,"<br/>");
      window.scrollTo(0, 0);
      var params=metaData.data.metaParameters;
      if(params.toLowerCase().indexOf("<br")==0){
        var pos = params.indexOf('>');
        params = params.substring(pos+1);
      }
      document.getElementById('scriptInfoDetail').innerHTML=params;
      //alert(element.innerHTML);
      element.style.backgroundColor="rgba(0,0,0,0.2)";
      //element.style.color="red";
    })
    .catch(error => {
      // Handle errors here or display them to the user
      console.error('Error:', error);
      document.getElementById('scriptInfoDetail').innerHTML="";
    });
  }

  document.getElementById('orch-name-text').innerText=inScript;
  if(inDescription==null)inDescription="";
  var dispDesc = inDescription;
  //alert(dispDesc);
  if(dispDesc.indexOf(" - ")==0){
    dispDesc=dispDesc.substring(3);
  }
  document.getElementById('orch-desc-text').innerText=dispDesc;
}

  function newCommand(select)
  {

    if(select.value=="")
    {
      editor.setValue("#/bin/sh\n" + overviewText + "\n\n#Implement your shell script here");
      //var desc = extractHTMLParams(data);
      window.scrollTo(0, 0);
      return;
    }
    var url = "/rest/script/" + select.value + "?mode=raw";
    if(select.value=="")
    {
      document.getElementById('scriptInfoDetail').innerHTML="";
      return;
    }
    fetchApiData(url)
    .then(data => {
      // Handle the API data as a string here
      //console.log(data);
      //alert(data);
      editor.setValue(data);
      var desc = extractHTMLParams(data);
      window.scrollTo(0, 0);
      document.getElementById('scriptInfoDetail').innerHTML=desc;
    })
    .catch(error => {
      // Handle errors here or scriptInfoDetaildisplay them to the user
      console.error('Error:', error);
      document.getElementById('scriptInfoDetail').innerHTML="";
    });
  }

  function fetchApiData(url) {
    return fetch(url)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.text(); // This will return the response body as a string
      })
      .catch(error => {
        // Handle errors here or propagate them further
        console.error('There was a problem with the fetch operation:', error);
        //throw error; // ignore any error 
      });
  }

  function doNotify(status,msg)
  {
      $.pnotify({
      title: 'Backup Job',
      text: msg,
      type: status,
      history: false,
      styling: 'jqueryui'
      });
  }

    function getUrlParam(name){
      if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
        return decodeURIComponent(name[1]);
    }

    function confirmName(newFileName){
      //alert("ok");
      //document.getElementById('agentcommand').value=document.getElementById('newfile').value;
      //alert(document.getElementById('agentcommand').value);
      //var select = document.getElementById('agentcommand');
      //var option = document.createElement('option');
      //option.value = document.getElementById('newfile').value;
      //option.text = document.getElementById('newfile').value;
      
      //onScript;
      onScript = newFileName;
      var optionExists = false;
      var fileSelectors = document.querySelectorAll('div.fileselector');
      // Iterate through the NodeList of fileSelectors
      fileSelectors.forEach(function(div, index) {
          if(onScript == div.innerHTML)optionExists=true;
      });

      if (!optionExists) {
        //var filecontainer=document.querySelector('div.filecontainer');

        //filecontainer.appendChild(newDiv);
        //select.add(option);
        //option.selected = true;
        //alert(document.getElementById('agentcommand').value);
        //M.FormSelect.init(select);
        //alert('saving');
        //console.log('Saving');
        $('#confirmationModal').modal('close');
        save(true);

        
      }
      else{
        document.getElementById('helper-text').innerHTML="Script with this name already exists, please provide a new name";
        //document.getElementById('modalerrormsg').innerHTML="Script with this name already exists, please provide a new name";
        document.getElementById('newfile').className="validate invalid";
      } 
    }

    function extractScriptMetadata(scriptContent) {
      try {
        var fileName="";
        // --- Get file metadata ---
        const lastUpdated = null

        // --- Read file content ---
        const lines = scriptContent.split("\n");

        let inBlock = false;
        let description = null;
        let parameters = [];

        for (const rawLine of lines) {
          const line = rawLine.trim();

          if (line === "#start-params") {
            inBlock = true;
            continue;
          }
          if (line === "#end-params") {
            inBlock = false;
            break;
          }

          if (inBlock && line.startsWith("#")) {
            const content = line.substring(1).trim(); // remove leading '#'

            if (!description) {
              // First line = description (strip HTML)
              description = content.replace(/<[^>]*>/g, "");
            } else {
              // Remaining lines = parameters (keep HTML)
              parameters.push(content);
            }
          }
        }

        // --- If no metadata block found ---
        if (!description) {
          return {
            success: true,
            error: `No metadata block (#start-params ... #end-params) found in ${fileName}`,
            data: {
              filename: fileName,
              lastUpdated,
              metaDescription: "",
              metaParameters: ""
            }
          };
        }

        return {
          success: true,
          error: null,
          data: {
            filename: fileName,
            lastUpdated,
            metaDescription: description,
            metaParameters: parameters.join("\n")
          }
        };

      } catch (err) {
        console.log(err);
        return {
          success: false,
          error: `Failed to parse ${fileName}: ${err.message}`
        };
      }
    }

  </script>

      <!-- Load the Monaco Editor styles -->
      <!--<link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs/editor/editor.main.css" />-->
      <link rel="stylesheet" data-name="vs/editor/editor.main" href="/monaco-editor/min/vs/editor/editor.main.css" />

      <!-- Load the Monaco Editor's JavaScript files -->
      <script src="/monaco-editor/min/vs/loader.js"></script>
      <script>
          require.config({ paths: { 'vs': '/monaco-editor/min/vs' } });
  
          // Load the Monaco Editor
          require(['vs/editor/editor.main'], function() {
              // Initialize the editor
                  editor = monaco.editor.create(document.getElementById('editor'), {
                  value:  `#!/bin/sh
#start-params
#<b>Script Desciption</b>
#<br /><b>Parameters</b><br />
#No Parameters
#end-params
`,
                  language: 'shell',
                  theme: 'vs-dark'
              });
  
              // Handle editor content changes
              editor.getModel().onDidChangeContent(function() {
                  // Access the editor content
                  var scriptContent = editor.getValue();
                  // You can perform further actions with the script content here
                  //var desc = extractHTMLParams(scriptContent);
                  //window.scrollTo(0, 0);
                  var params=extractScriptMetadata(editor.getValue()).data.metaParameters;
                  if(params.toLowerCase().indexOf("<br")==0){
                    var pos = params.indexOf('>');
                    params = params.substring(pos+1);
                  }
                  document.getElementById('scriptInfoDetail').innerHTML=params;
                  document.getElementById('orch-desc-text').innerText=extractScriptMetadata(editor.getValue()).data.metaDescription;
              });

              <% if(scriptToEdit!=null){%>
              $(document).ready(function(){
                //alert("Filename: <%=scripts[scriptToEdit].data.filename%>");
                //alert("Description: <%=scripts[scriptToEdit].data.metaDescription%>");
                scriptSelected(document.getElementById('script<%=scriptToEdit%>'),'<%=scripts[scriptToEdit].data.filename%>','<%=scripts[scriptToEdit].data.metaDescription%>');
              });
              <%}%>
          });

          function extractHTMLParams(data) {
            const startTag = '#start-params';
            const endTag = '#end-params';
            
            // Find the positions of the start and end tags
            const startIndex = data.indexOf(startTag);
            const endIndex = data.indexOf(endTag);

            // If both tags are found and the start tag comes before the end tag
            if (startIndex !== -1 && endIndex !== -1 && startIndex < endIndex) {
              // Extract the HTML content between the tags
              let htmlContent = data.substring(startIndex + startTag.length, endIndex);
              // Remove the hash symbols at the beginning of each line specifically
              htmlContent = htmlContent.replace(/^#/gm, '');
              return htmlContent;
            } else {
              // Return an empty string or some other value to indicate that the tags were not found
              return '';
            }
          }

          function createNew(){
            //deselect all other files
            deSelectAllFiles();
            onScript="";
            editor.setValue("");
            window.scrollTo(0, 0);
            document.getElementById('scriptInfoDetail').innerHTML="";
            //Add the overview
            addOverview();
          }

          function addOverview()
          {
            var scriptContent = editor.getValue();
            var lines = scriptContent.split('\n');
            if(lines!==undefined && lines!==null && lines.length>=1)
            {
              if(lines[0]=="#!/bin/sh")
              {
                scriptContent = lines[0] + "\n" + overviewText + "\n";
                for(var i=1;i<lines.length;i++)
                {
                  scriptContent+=lines[i] + "\n";
                }
              }
              else
              {
                scriptContent = "#!/bin/sh\n" + overviewText + "\n\n" + scriptContent; 
              }
            }
            //scriptContent += overviewText;
            editor.setValue(scriptContent);
            //alert(scriptContent);
          }

          function newFromTemplate(){
            $('#templateModal').modal('open');
          }
          function save(doReload)
          {
            if(doReload===undefined)doReload=false;
            if(onScript==""){
              $('#confirmationModal').modal('open');
            }
            else{
              //alert("now saving");sa
              enableLoader();
              gosave();
              disableLoader();
              setTimeout(function() {
                if(doReload)document.location.reload();
              }, 1000);
              
            }
            
          }

          function gosave()
          {
            

            const scriptContent = editor.getValue();
            const scriptName = onScript;

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/saveScript');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
              if (xhr.status === 200) {
                console.log(xhr.responseText);
                //M.toast({html: "Script Saved", displayLength: 5000});
                window.location.href="/scriptList.html?message=Script%20Saved%20Successfully";
              } else {
                M.toast({html: "Unable to save script", displayLength: 5000});
                console.error(xhr.statusText);
              }
            };
            xhr.onerror = function() {
              M.toast({html: "Unable to save script", displayLength: 5000});
              console.error(xhr.statusText);
            };
            xhr.send(JSON.stringify({
              script: scriptContent,
              scriptName: scriptName
            }));
            }

          function enableLoader()
          {
            var elem = document.getElementById("loader");
            elem.style.display="";  
          }

          function disableLoader()
          {
            var elem = document.getElementById("loader");
            elem.style.display="none";  
          }

          function toggleLoader()
          {
            //alert("changing loader");
            var elem = document.getElementById("loader");
            //alert(elem);
            //alert(elem.style.display);
            if(elem.style.display=="none"){
              elem.style.display="";
            }
            else{
              elem.style.display="none";
            }
          }

          function previewTemplate(script,data){
            var contentElem = document.getElementById(script + "-content");
            var paramsElem = document.getElementById(script + "-parameters");
            var descElem = document.getElementById(script + "-description");
            var scriptElem = document.getElementById(script + "-script");
            
            var toSetParams = document.getElementById('script-parameters');
            var toSetContent= document.getElementById('script-content');

            toSetParams.innerHTML = extractHTMLParams(base64Decode(data));
            toSetContent.innerText = base64Decode(data);

          }

          function useTemplate(script,data){
            var descElem = document.getElementById(script + "-description");
            var scriptElem = document.getElementById(script + "-content");
            var paramsElem = document.getElementById(script + "-parameters");
            editor.setValue(base64Decode(data));
            var desc = extractHTMLParams(data);
            window.scrollTo(0, 0);
            $('#templateModal').modal('close');
          }

          function insertButtonText(btn) {
            // Get the span inside the button
            const span = btn.querySelector("span");

            // Fallback: if no span, use button text
            const textToInsert = span ? span.innerText : btn.innerText;
            const pos = editor.getPosition();            

            editor.executeEdits("insert-text", [
              {
                range: new monaco.Range(
                  pos.lineNumber,
                  pos.column,
                  pos.lineNumber,
                  pos.column
                ),
                text: textToInsert,
                forceMoveMarkers: true
              }
            ]);

            editor.focus();
          }

          function cancelChanges(){
            window.location.href="/scriptList.html";  
          }

          function openScriptTestFromEditor() {
            if (!window.BackupHubScriptTest) {
              M.toast({html: 'Script test UI is not ready yet', displayLength: 3000});
              return;
            }

            const scriptMetadata = extractScriptMetadata(editor.getValue()).data || {};

            window.BackupHubScriptTest.open({
              scriptName: onScript || null,
              scriptDescription: scriptMetadata.metaDescription || '',
              scriptParameters: scriptMetadata.metaParameters || '',
              sourceType: 'editor',
              scriptContent: editor.getValue(),
              commandParams: '',
            });
          }

          function listSchedulesForOrchestration() {
            if (!onScript || onScript === "") {
              M.toast({html: "Please save the script first before viewing jobs", displayLength: 3000});
              return;
            }

            const scriptName = onScript;
            document.getElementById('jobsListScriptName').innerText = scriptName;

            // Clear previous content
            const tableBody = document.getElementById('jobsTableBody');
            tableBody.innerHTML = '<tr><td colspan="4" style="padding: 12px; text-align: center; color: #999;">Loading...</td></tr>';
            document.getElementById('jobsEmptyMessage').style.display = 'none';

            // Fetch jobs that use this script
            fetch(`/rest/jobs-for-script/${encodeURIComponent(scriptName)}`)
              .then(response => {
                if (!response.ok) {
                  throw new Error('Failed to fetch jobs');
                }
                return response.json();
              })
              .then(data => {
                if (data.jobs && data.jobs.length > 0) {
                  tableBody.innerHTML = '';
                  data.jobs.forEach(job => {
                    const row = document.createElement('tr');
                    row.style.borderBottom = '1px solid #eee';
                    
                    // Determine badge color based on job type
                    let badgeStyle = 'background: #f5f5f5; color: #666;';
                    if (job.type === 'Orchestration') {
                      badgeStyle = 'background: #e3f2fd; color: #1976d2;';
                    }
                    
                    row.innerHTML = `
                      <td style="padding: 12px;">${job.jobName}</td>
                      <td style="padding: 12px;">${job.description || '-'}</td>
                      <td style="padding: 12px;">
                        <span style="padding: 4px 8px; border-radius: 4px; font-size: 12px; ${badgeStyle}">
                          ${job.type}
                        </span>
                      </td>
                      <td style="padding: 12px;">${job.nextRunDate || '-'}</td>
                    `;
                    tableBody.appendChild(row);
                  });
                } else {
                  tableBody.innerHTML = '';
                  document.getElementById('jobsEmptyMessage').style.display = 'block';
                }
                // Open the modal
                const modal = document.getElementById('jobsListModal');
                const instance = M.Modal.getInstance(modal);
                if (instance) {
                  instance.open();
                } else {
                  M.Modal.init(modal);
                  M.Modal.getInstance(modal).open();
                }
              })
              .catch(error => {
                console.error('Error:', error);
                tableBody.innerHTML = `<tr><td colspan="4" style="padding: 12px; text-align: center; color: #d32f2f;">Error loading jobs: ${error.message}</td></tr>`;
              });
          }
      </script>
      
        <style>
    body { margin: 0; padding: 0; overflow: hidden; }
    #orchestration-container { display: flex; height: calc(100vh - 120px); flex-direction: column; overflow: hidden; width: 100%; margin-top: 0; }
    #orchestration-header { background: #f5f5f5; padding: 15px 20px; border-bottom: 1px solid #ddd; flex-shrink: 0; position: relative;}
    #header-buttonss {
      position: absolute;
      top: 15px;   /* matches header padding */
      right: 20px; /* matches header padding */
      display: flex;
      gap: 10px;
      align-items: center;
    }
    
    #orchestration-counts{
      font-size: 13px;
    }

    #orchestration-main { display: flex; flex: 1 1 auto; min-height: 0; min-width: 0; overflow: hidden; }
    #orchestration-palette { min-height: 0; width: 250px; background: white; border-right: 1px solid #ddd; overflow-y: auto; padding-left: 15px; flex-shrink: 0; min-width: 200px; max-width: 350px; }
    #orchestration-canvas { min-height: 0; flex: 1 1 auto; background: #fafafa; position: relative; overflow: hidden; min-width: 0; display: flex; flex-direction: column; }
    .palette-scroll { overflow-y: auto; min-height: 0; }
    #editor { width: 100%; min-height: 0; min-width: 0; flex: 1 1 auto; }
    #orchestration-canvas svg { display: block; width: 100%; height: auto; min-height: 100%; background: #fafafa; }
    #orchestration-properties { width: 300px; background: white; border-left: 1px solid #ddd; overflow-y: auto; padding: 15px; flex-shrink: 0; position: fixed; right: 0; top: 142px; bottom: 55px; transform: translateX(100%); transition: transform 0.3s ease-in-out; z-index: 50; }
    #orchestration-properties.show { transform: translateX(0); }
    #zoom-controls { right: 20px; }
    #zoom-controls.shift-left { right: 320px; }
    .palette-item { padding: 2px; margin-bottom: 2px; background: #f9f9f9; border: 1px solid #e0e0e0; border-radius: 4px; user-select: none; display: flex; align-items: center; gap: 8px; font-size: 10px; transition: all 0.2s; }
    .palette-item:hover { background: #f0f0f0; border-color: #ff9800; }
    .palette-item i { font-size: 16px; }
    .palette-item[data-node-type="start"],
    .palette-item[data-node-type="end-success"],
    .palette-item[data-node-type="end-failure"] {
      width: 44px;
      height: 44px;
      padding: 0;
      margin-bottom: 8px;
      border-radius: 50%;
      justify-content: center;
      gap: 0;
      flex-direction: column;
    }
    .palette-item[data-node-type="condition"] {
      width: 32px;
      height: 32px;
      padding: 0;
      margin-bottom: 8px;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0;
      flex-direction: column;
      border-color: #e0e0e0;
      transform: rotate(45deg);
      line-height: 1.2;
    }
    .palette-item[data-node-type="condition"] i {
      font-size: 12px;
      margin: 0;
      line-height: 1;
      display: block;
    }
    .palette-item[data-node-type="condition"] span {
      font-size: 8px;
      margin: 0;
      text-align: center;
      width: 100%;
      line-height: 1;
      display: block;
    }
    .palette-item[data-node-type="start"] i,
    .palette-item[data-node-type="end-success"] i,
    .palette-item[data-node-type="end-failure"] i {
      font-size: 14px;
      margin: 0;
    }
    .palette-item[data-node-type="start"] span,
    .palette-item[data-node-type="end-success"] span,
    .palette-item[data-node-type="end-failure"] span {
      font-size: 7px;
      margin-top: 1px;
      text-align: center;
      width: 100%;
    }
    .end-nodes-container {
      display: flex;
      gap: 8px;
      justify-content: flex-start;
    }
    .end-nodes-container .palette-item {
      flex: 0 0 44px;
    }
    .palette-section { margin-bottom: 20px; }
    .palette-section h4 { margin: 5px 0 10px 0; font-size: 12px; color: #666; text-transform: uppercase; font-weight: 600; }
    #orchestration-footer { background: #f5f5f5; padding: 15px 20px; border-top: 1px solid #ddd; display: flex; justify-content: space-between; align-items: center; flex-shrink: 0; }
    .properties-section { margin-bottom: 20px; display: block; visibility: visible; }
    .properties-section label { font-size: 12px; font-weight: 600; color: #666; display: block; margin-bottom: 8px; text-transform: uppercase; }
    .properties-section input, .properties-section select { width: 100%; padding: 8px; border: 1px solid #ddd; border-radius: 4px; font-size: 13px; box-sizing: border-box; appearance: auto; background-color: white; color: #333; cursor: pointer; display: block; visibility: visible; }
    .properties-section select:focus { outline: none; border-color: #2196f3; box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.1); }
    .properties-section input:focus { outline: none; border-color: #2196f3; box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.1); }
    #prop-condition { display: none; }
    #prop-condition[style*="display: block"] { display: block !important; visibility: visible; }
    .delete-btn:hover { background: #d32f2f; }
    .save-btn { background: #4caf50; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; font-size: 13px; }
    .save-btn:hover { background: #388e3c; }
    #orch-name-display { cursor: pointer; border-radius: 4px; transition: background 0.2s; display: flex; flex-direction: column; gap: 1px; }
    #orch-name-display:hover { background: rgba(33, 150, 243, 0.1); }
    #orch-name-text { font-size: 16px; font-weight: 600; }
    #orch-desc-text { font-size: 13px; color: #666; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 400px; cursor: help; }
    #orch-name-edit { display: none; }
    .name-edit-mode #orch-name-display { display: none; }
    .name-edit-mode #orch-name-edit { display: flex; gap: 8px; align-items: flex-start; flex-direction: column; }
    #orch-name-input { padding: 5px 8px; border: 2px solid #2196f3; border-radius: 4px; font-size: 14px; font-weight: 500; width: 300px; }
    #orch-desc-input { padding: 5px 8px; border: 2px solid #2196f3; border-radius: 4px; font-size: 13px; width: 300px; height: 50px; resize: vertical; }
    #orch-name-input:focus { outline: none; box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.2); }
    #orch-desc-input:focus { outline: none; box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.2); }
    .orch-edit-buttons { display: flex; gap: 6px; }
    h3 {line-height: 35% !important;}

        .details-close-btn {
      position: absolute;
      top: 0px;
      right: 15px;
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 24px;
      color: var(--text-primary);
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
    }

    .details-close-btn:hover {
      color: var(--error-color, #d32f2f);
      transform: scale(1.2);
    }

    .sp-replacer{
      position: relative;
      left: 80px;
      top: -50px;
    }
    
    .validation-error-toast {
      background-color: #f44336 !important;
      color: white !important;
      border-radius: 4px;
      padding: 16px !important;
      max-width: 600px !important;
      box-shadow: 0 4px 12px rgba(244, 67, 54, 0.3) !important;
      display: flex !important;
      flex-direction: column !important;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      word-break: break-word !important;
      white-space: normal !important;
      text-align: left !important;
    }
    
    .validation-error-toast div {
      color: white !important;
      display: block !important;
      margin-bottom: 6px !important;
      line-height: 1.4 !important;
      word-break: break-word !important;
      text-align: left !important;
      width: 100% !important;
    }
    
    .validation-error-toast strong {
      color: white !important;
      display: block !important;
      margin-bottom: 8px !important;
      font-weight: 600 !important;
      text-align: left !important;
      width: 100% !important;
    }

  </style>

     
</head>
<body>
  <%- include('./partials/_header'); %>


  <div id="templateModal" class="modal" style="overflow:hidden">
    <div class="modal-content" style="display: flex; flex-direction: column; height: 100%; max-height: calc(100vh - 100px); padding: 0;">
        <div style="padding: 20px; padding-bottom: 10px; flex-shrink: 0; border-bottom: 0px solid #e0e0e0;">
          <h4 style="margin: 0;">Template Selection</h4>
        </div>
        
        <div style="display: flex; flex: 1; min-height: 0; overflow: hidden;">
          <!-- Left Panel: Template Cards -->
          <div class="template-cards-container" style="flex: 0 0 55%; border-right: 0px solid #e0e0e0; overflow-y: auto; padding: 20px;"> 
            <div class="template-list" style="height:100%; display: flex; flex-wrap: wrap; gap: 16px; align-content: flex-start;">
              <% if (templates && templates.getTemplateNames().length > 0) { %>
                  <% templates.getTemplateNames().forEach(function(script) { %>
                    <% var dispscript = script.split(".")[0]%>
                      <div class="card" style="flex: 0 1 calc(50% - 8px); display: flex; flex-direction: column;">
                          <div class="card-content" style="flex-grow: 1;" onclick="previewTemplate('<%=dispscript%>',<%=sanitizeVariableName(dispscript + "_Content")%>_Content)">
                              <span class="card-title" style="font-size: 14pt"><%=dispscript%></span>
                              <div style="font-size: 8pt" id="<%=dispscript%>-script"><%=script%></div>
                              <div style="font-size: 8pt" id="<%=dispscript%>-description"><%- templates.getTemplateByName(script).description%></div>
                              <!--<div style="font-size: 8pt" id="<%=dispscript%>-parameters" style="display:none"><%- templates.getTemplateByName(script).parameters %></div>-->
                          </div>
                          <div class="card-action">
                              <a href="#" onclick="useTemplate('<%=dispscript%>',<%=sanitizeVariableName(dispscript + "_Content")%>_Content)">Use Template</a>
                          </div>
                      </div>
                  <% }); %>
              <% } else { %>
                  <div class="card-panel red lighten-4" style="width: 100%;">
                      <p>No scripts available.</p>
                  </div>
              <% } %>
            </div>
          </div>
          
          <!-- Right Panel: Script Preview -->
          <div id="data-preview" style="flex: 0 0 45%; display: flex; flex-direction: column; padding: 20px; overflow: hidden;"> 
            <div style="background-color:#000000; color:#ffffff; flex: 0 0 50%; overflow-y: auto; font-family: courier new; margin-bottom: 10px; border-radius: 4px; padding: 10px;" id="script-content"></div>
            <div id="script-parameters" style="flex: 0 0 50%; overflow-y: auto; border: 1px solid #e0e0e0; border-radius: 4px; padding: 10px;"></div>
          </div>
        </div>
        
        <div style="display:none; padding: 10px 20px; flex-shrink: 0; border-top: 0px solid #e0e0e0;">
          <span id="modalerrormsg" style="color:red">&nbsp;</span>
        </div>
    </div>
    <div class="modal-footer" style="flex-shrink: 0;position: sticky;bottom: 0;z-index:20">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>

    </div>
  </div>

  <div id="confirmationModal" class="modal">
    <div class="modal-content">
        <h4>Shell Script Name</h4>
        <p>Please provide a name for the backup script, then press 'Save'<br><br></p>
          <div class="input-field">
            <input type="text" id="newfile">
            <label for="newfile">File Name:</label>
            <span class="helper-text" id="helper-text" data-error="Script with this name already exists, please provide a new name"></span>
          </div>
          
        <br><span id="modalerrormsg" style="color:red">&nbsp;</span>
        
        
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a href="#!" onclick="confirmName(document.getElementById('newfile').value)" id="confirmButton" class="waves-effect waves-green btn-flat">Save</a>
    </div>
  </div>

  <div id="jobsListModal" class="modal">
    <div class="modal-content" style="display: flex; flex-direction: column; height: 100%; max-height: calc(100vh - 100px); padding: 0;">
        <div style="padding: 20px; padding-bottom: 10px; flex-shrink: 0; border-bottom: 1px solid #e0e0e0;">
          <h4 style="margin: 0;">Jobs Using Script: <span id="jobsListScriptName" style="font-style: italic;"></span></h4>
        </div>
        
        <div style="flex: 1; min-height: 0; overflow-y: auto; padding: 20px;">
          <table id="jobsTable" style="width: 100%; border-collapse: collapse;">
            <thead>
              <tr style="border-bottom: 2px solid #ddd;">
                <th style="text-align: left; padding: 12px; font-weight: 600;">Job Name</th>
                <th style="text-align: left; padding: 12px; font-weight: 600;">Description</th>
                <th style="text-align: left; padding: 12px; font-weight: 600;">Job Type</th>
                <th style="text-align: left; padding: 12px; font-weight: 600;">Next Run</th>
              </tr>
            </thead>
            <tbody id="jobsTableBody">
              <tr><td colspan="4" style="padding: 12px; text-align: center; color: #999;">Loading...</td></tr>
            </tbody>
          </table>
          <div id="jobsEmptyMessage" style="text-align: center; padding: 20px; color: #666; display: none;">
            No jobs found using this script.
          </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <!-- loader -->
  <div id="loader" style="display:none">
  <div style="display:block;position:absolute;z-index:199;top:0px;left:0px;width:100%;height:100%;background-color: rgba(180, 180, 180, 0.5)"></div>
  <div style="height:0px;width:0px;z-index:200">
    <div class="preloader-wrapper big active" style="display:block;position:relative;z-index:200;top:200px;left:640px;">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- new header -->
  <div id="orchestration-header">
      
      <h3 style="margin: 0; display: flex; align-items: center; gap: 15px;">
        <div style="display: flex; align-items: center; gap: 5px; cursor: pointer;" id="orch-icon-display">
          <i id="orch-icon-element" class="material-icons" style="color: --text-primary; font-size: 24px;" onclick="toggleIconEdit()">terminal</i>
        </div>
                    
        <div id="orch-name-display">
          <span id="orch-name-text">Undefined Name</span>
          <span id="orch-desc-text" title="description">Undefined Description</span>
        </div>
        
      </h3>
      <div id="header-buttonss" style="display: flex; gap: 10px;">
        <button class="save-btn" style="background: #1976d2;" onclick="listSchedulesForOrchestration()" title="View schedules that use this orchestration">
          <i class="material-icons" style="font-size: 16px; vertical-align: middle;">assignment</i>
          List Jobs
        </button>
        <button class="save-btn" style="background: #1976d2;" onclick="newFromTemplate()" title="Use Template">
          <i class="material-icons" style="font-size: 16px; vertical-align: middle;">article</i>
          Template
        </button>
        <button class="save-btn" style="background: #1976d2;" onclick="cancelChanges()" title="Cancel Changes and return to list">
          <i class="material-icons" style="font-size: 16px; vertical-align: middle;">cancel</i>
          Cancel
        </button>
        <button class="save-btn" style="background: #1976d2;" onclick="openScriptTestFromEditor()" title="Run a transient script test">
          <i class="material-icons" style="font-size: 16px; vertical-align: middle;">fact_check</i>
          Test
        </button>
        <button class="save-btn" onclick="save()">
          <i class="material-icons" style="font-size: 16px; vertical-align: middle;">save</i>
          Save
        </button>
      </div>
    </div>
  <!-- ========== -->

  <div id="orchestration-main">
    <div id="orchestration-palette">
      <div class="palette-section">
        <H4>Parameters</H4>
        <div class="scriptInfo small" id="scriptInfoDetail"></div>
      </div>
      <div class="palette-section">
        <H4>Trigger Context</H4>
        <div id="scriptParameters">
          <button class="palette-item" onclick="insertButtonText(this)"><span title='"rule", "webhook", or "sample"'>$BACKUPHUB_TRIGGER_TYPE </span></button>
          <button class="palette-item" onclick="insertButtonText(this)"><span title='Unique ID for this execution'>$BACKUPHUB_EXECUTION_ID </span></button>
          <button class="palette-item" onclick="insertButtonText(this)"><span title='"cpu", "mount_usage", "file_count", etc.'>$BACKUPHUB_METRIC_TYPE </span></button>
          <button class="palette-item" onclick="insertButtonText(this)"><span title='The actual value (e.g., 92.5)'>$BACKUPHUB_METRIC_VALUE </span></button>
          <button class="palette-item" onclick="insertButtonText(this)"><span title='Unit: "%", "bytes", "seconds", "count"'>$BACKUPHUB_METRIC_UNIT </span></button>
          <button class="palette-item" onclick="insertButtonText(this)"><span title='Path being monitored (e.g., "/mnt/data")'>$BACKUPHUB_METRIC_PATH </span></button>
          <button class="palette-item" onclick="insertButtonText(this)"><span title='Agent that detected it'>$BACKUPHUB_METRIC_AGENT </span></button>
          <button class="palette-item" onclick="insertButtonText(this)"><span title='Condition operator: ">=", "<=", ">", "<", "==", "!="'>$BACKUPHUB_CONDITION_OPERATOR </span></button>
          <button class="palette-item" onclick="insertButtonText(this)"><span title='Threshold value'>$BACKUPHUB_CONDITION_THRESHOLD </span></button>
          <button class="palette-item" onclick="insertButtonText(this)"><span title='"true" or "false"'>$BACKUPHUB_CONDITION_MET </span></button>
          <button class="palette-item" onclick="insertButtonText(this)"><span title='Trigger context as JSON'>$BACKUPHUB_TRIGGER_CONTEXT </span></button>
          <button class="palette-item" onclick="insertButtonText(this)"><span title='ID of the webhook that triggered'>$BACKUPHUB_WEBHOOK_ID </span></button>
          <button class="palette-item" onclick="insertButtonText(this)"><span title='Name you gave the webhook'>$BACKUPHUB_WEBHOOK_NAME </span></button>
        </div>
      </div>
      <div class="palette-section" style="display:none">      
        <div class="filecontainer">
        <% for (i=0;i<scripts.length;i++) { %>
        <div class="fileselector" title="<%=scripts[i].data.metaDescription%>" id="script<%=i%>" ondblclick="scriptSelected(this,'<%=scripts[i].data.filename%>','<%=scripts[i].data.metaDescription%>')"><%=scripts[i].data.filename%></div>
        <% } %>
        </div>
      </div>
    </div>
    <div id="orchestration-canvas">
      <div id="editor" style="width:100%; height:100%; min-height:400px;"></div>
    </div>
  </div>

  <!--
  <main class="scriptEditorMain" style="display:none">
    <div id="loader" style="display:none">
    <div style="display:block;position:absolute;z-index:199;top:0px;left:0px;width:100%;height:100%;background-color: rgba(180, 180, 180, 0.5)"></div>
    <div style="height:0px;width:0px;z-index:200">
      <div class="preloader-wrapper big active" style="display:block;position:relative;z-index:200;top:200px;left:640px;">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="container containerlargeScriptEditor" style="width:100%;position:relative;top:-20px;margin-left:0px;padding-left:0px;height:100%">
      <div class="row">
        <div class="col resizable s4 noPadding" style="border-left:0px solid #cccccc">
         
          <div class="row">
          <div class="col s12">
            <button onclick="save()" class="waves-effect green btn-flat">Save</button>
            <button onclick="addOverview()" class="btn-flat green">Overview</button>
            <span style="width:10px">&nbsp;</span>
            <span onclick="createNew()" title="New Script" style="cursor:pointer;font-size:20pt" class="material-icons vertMid tableIconButton ">library_add</span>
            
            <%if(templates){%>
            <span onclick="newFromTemplate()" title="New Script from Template" style="cursor:pointer;font-size:20pt" class="material-icons vertMid tableIconButton ">library_books</span>
            <%}%>
            <span class="separator"></span>
            <span onclick="save()" title="Save" style="cursor:pointer;font-size:20pt" class="material-icons vertMid tableIconButton ">save</span>
            
  
          </div>
          </div>
              

  
          <div class="row">
            <div class="col s12">
            
          </div>
          </div>
          </div>
 
      </div>
    </div>

  </main>
-->
  </div>

  <script>
    M.FormSelect.init(document.querySelectorAll('select'));
    $('.modal').modal();

    
  </script>

  <%- include('./partials/_scriptTestModal', { agents: agents }) %>

  <footer>
  <%- include('./partials/_footer'); %>
  </footer>

  </body>
</html>

